---
import { Icon } from 'astro-icon/components';
import { users } from '../data/user';
import PageLayout from './PageLayout.astro';
import { posts } from '../modules/post';
import { formatDistanceToNowStrict } from 'date-fns';
import { ko as koLocale } from "date-fns/locale/ko";
import '../styles/tailwind.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Thumbnail from '../components/Thumbnail.astro';
import { Profile } from '../components/Profile';

export function getStaticPaths() {
  return users.map((user) => ({
    params: { userName: user.github },
  }));
}

const { userName } = Astro.params;
const user = users.find((user) => user.github === userName);
const userPosts = posts.filter((post) => post.user === user?.name);
---

<PageLayout title={`${user?.name}님의 프로필`}>
  <div class="w-full h-full max-w-[800px] m-auto">
    {user == null ? (
      <h1>User not found</h1>
    ) : (
      <Header class="sticky top-0 bg-[#FCFAFB] z-10 md:mt-5" />
      <div class="flex flex-col items-center p-6 pt-20">
        <img src={user.avatarUrl} alt={user.name} width="120" height="120" class="rounded-full border-2 border-gray-300 bg-white" />
        <h1 class="text-2xl md:text-3xl font-bold text-gray-800 mt-4">{user.name}</h1>
        <h1 class="text-md md:text-lg text-gray-600 mt-0.5">@{user.github}</h1>
      </div>
      <div class="flex justify-center mt-4">
        <a href={user.blog} target="_blank" rel="noopener noreferrer" class="flex flex-col gap-2 items-center text-gray-800 p-3 text-md font-semibold">
          <img src={user.blogAvatarUrl} alt={user.name} width="24" height="24" />
          Blog
        </a>
        <a href={`https://github.com/${user.github}`} target="_blank" rel="noopener noreferrer" class="flex flex-col gap-2 items-center text-gray-800 p-3 text-md font-semibold">
          <Icon name="mingcute:github-fill" width="24" height="24" />
          Github
        </a>
      </div>
      <section class="px-20 py-5 mt-4">
        <ul class="flex flex-col gap-4">
          {userPosts.map((post) => (
            <li class="flex gap-3 items-center md:gap-5">
              <Thumbnail post={post} width={200} height={150} className="rounded-xl w-[160px] h-[120px] lg:w-[200px] lg:h-[150px]" />
              <div>
                <a href={post.link}>
                  <p class="text-md font-bold text-ellipsis overflow-hidden line-clamp-2 md:text-xl">{post.title}</p>
                </a>
                <div class="mt-3 flex items-center gap-1 text-[#3B3B3B] text-xs md:text-sm">
                  <Profile userName={post.user} />
                  |
                  <time datetime={new Date(post.date).toISOString()} class="text-nowrap">
                    {formatDistanceToNowStrict(new Date(post.date), { addSuffix: true, locale: koLocale })}
                  </time>
                </div>
              </div>
            </li>
          ))}
        </ul>
      </section>
    )}
    <Footer />
  </div>
</PageLayout>
