---
import PageLayout from './PageLayout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
---

<PageLayout title="Vaco Blog">
  <div class="overflow-auto w-full h-full max-w-[800px] m-auto">
    <Header />
    <HeroSection />
    <!-- <section class="flex flex-col pt-16">
      {
        posts.map((post) => (
          <a
            href={post.link}
            target="_blank"
            class="group"
            data-post-url={post.link}
          >
            <div class="flex flex-col gap-4 p-4">
              <img
                class="aspect-video object-cover"
                src={`/thumbnails/${post.id}.webp`}
                alt={`${post.title} post image`}
                width={640}
                height={360}
                loading="lazy"
                onerror="this.src = 'default_thumbnail.svg';"
              />
              <div class="flex justify-between">
                <div class="flex flex-col gap-2">
                  <h2 class="text-lg font-medium inline-block pr-[1.25em] group-[:hover:not(:has(.profile:hover))]:underline underline-offset-4 decoration-2 decoration-teal-600">
                    {post.title}
                    {post.isRecentPost && (
                      <span class="inline-block bg-teal-600 h-1.5 w-1.5 rounded-full mb-2" />
                    )}
                  </h2>
                  <div class="profile">
                    <Profile userName={post.user} userAvatarUrl={userAvatarUrlByUser[post.user]} blogAvatarUrl={blogAvatarUrlByUser[post.user]} client:only="react" />
                  </div>
                </div>
                <time datetime={new Date(post.date).toISOString()} class="text-sm text-nowrap pt-1">
                  {formatDistanceToNowStrict(new Date(post.date), { addSuffix: true, locale: koLocale })}
                </time>
              </div>
            </div>
          </a>
        ))
      }
    </section> -->
    <!-- <RecommendPosts /> -->
    <!-- <HotPosts /> -->
    <!-- <NewPost /> -->
    <!-- <Footer /> -->
    <!-- <footer class="flex justify-end p-4 gap-4 text-sm bg-white border-x border-gray-300">
      <a
        href="https://github.com/roketto-dan/vaco-feeds"
        class="flex gap-1 items-center"
      >
        <Icon name="mingcute:github-fill" />
        Github
      </a>
      <span>© 2024 로켓단</span>
    </footer> -->
  </div>
</PageLayout>
