---
import { getPosts } from "../modules/post";
import { Icon } from 'astro-icon/components'
import { Profile } from '../components/Profile.tsx';
import { users } from "../data/user";
import { getUserProfileImageUrl, getUserBlogImageUrl } from "../modules/profile";

const posts = await getPosts();
const userAvatarUrlByUser: Record<string, string | null> = await (async () => {
  const urls = await Promise.all(users.map(user => getUserProfileImageUrl(user.name)));
  return users.reduce((acc, user, index) => ({
    ...acc,
    [user.name]: urls[index],
  }), {});
})();
const blogAvatarUrlByUser: Record<string, string | null> = await (async () => {
  const urls = await Promise.all(users.map(user => getUserBlogImageUrl(user.name)));
  return users.reduce((acc, user, index) => ({
    ...acc,
    [user.name]: urls[index],
  }), {});
})();

const NOTION_UPLOAD_REQUEST_PAGE =
  "https://github.com/oddmj/vaco-feeds/issues/new?assignees=0jaaack&labels=feed&projects=&template=post_request_template.md&title=%ED%8F%AC%EC%8A%A4%ED%8A%B8+%EC%97%85%EB%A1%9C%EB%93%9C+%EC%9A%94%EC%B2%AD%3A+%5B%ED%8F%AC%EC%8A%A4%ED%8A%B8+%EC%A0%9C%EB%AA%A9%5D";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!-- Google Tag Manager -->
    <script>
      (function (
        w: Window,
        d: Document,
        s: "script",
        l: "dataLayer",
        i: "GTM-KDGJLWXF"
      ) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode!.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KDGJLWXF");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="overscroll-none w-full h-full bg-gradient-to-r from-white from-80% to-teal-100">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KDGJLWXF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div class="max-w-screen-sm m-auto">
      <section
        class="fixed z-10 p-4 justify-between max-w-screen-sm w-full m-auto items-center flex bg-white border-b border-x border-gray-300 backdrop-blur-md bg-white/80"
      >
        <h1 class="text-lg font-bold">Vaco Feed</h1>
        <a
          href={NOTION_UPLOAD_REQUEST_PAGE}
          target="_blank"
          class="border border-teal-600 hover:border-teal-800 hover:text-teal-800 rounded-lg text-teal-600 text-sm p-1 px-2 flex gap-1 items-center transition"
        >
          <Icon name="mingcute:notion-fill" />
          업로드
        </a>
      </section>
      <section class="flex flex-col bg-white pt-16 border border-gray-300 divide-y divide-solid">
        {
          posts.map((post) => {
            return (
              <div class="flex gap-2 justify-between p-4">
                <div class="flex flex-col gap-2">
                  <div class="flex flex-wrap gap-2 items-start">
                    <a
                      href={post.link}
                      target="_blank"
                      class="flex gap-2 justify-between"
                    >
                      <span class="text-lg font-medium flex-grow hover:underline underline-offset-4 decoration-2 decoration-teal-600">{post.title}</span>
                    </a>
                    {post.isRecentPost && <span class="bg-teal-600 h-1.5 w-1.5 rounded-full" />}
                  </div>
                  <Profile userName={post.user} userAvatarUrl={userAvatarUrlByUser[post.user]} blogAvatarUrl={blogAvatarUrlByUser[post.user]} client:only="react" />
                </div>
                <span class="text-sm">{post.date}</span>
              </div>
            );
          })
        }
      </section>
      <section class="flex justify-end p-4 gap-2 text-sm bg-white border-x border-gray-300">
        <a
          href="https://github.com/oddmj/vaco-feeds"
          class="flex gap-1 items-center"
        >
          <Icon name="mingcute:github-fill" />
          github
        </a>
        <a
          href="mailto:text@mail.com"
          target="_blank"
          class="flex gap-1 items-center"
        >
          <Icon name="mingcute:mail-line" />
          contact
        </a>
        <span>© 2024 team blahblah</span>
      </section>
    </div>
  </body>
</html>
