---
import { Profile } from "./Profile";
import { posts } from "../modules/post";
import { formatDistanceToNowStrict } from "date-fns";
import { ko as koLocale } from "date-fns/locale/ko";
import { Focusing } from "./Focusing";

const { class: classList } = Astro.props;
---
<section class={`${classList}`}>
  <p class="px-1 text-xl font-bold">최근 올라온 글 
    <Focusing client:load>
      <span class="inline-block animate-wiggle">✨</span>
    </Focusing>
  </p>
  <ul class="flex flex-wrap gap-y-8 justify-between mt-6 pl-4">
    {posts.map((post) => (
      <li class="w-[248px]">
        <a href={post.link} class="flex gap-5">
        <img src={`/thumbnails/${post.id}.webp`} width={248} height={186} alt="" class="w-[248px] h-[186px] object-cover rounded-xl" />
        <div>
          <p class="mt-3 text-lg font-bold text-ellipsis overflow-hidden line-clamp-2">{post.title}</p>
          <div class="mt-2 flex items-center gap-1 text-[#3B3B3B]">
            <Profile userName={post.user} />
            |
            <time datetime={new Date(post.date).toISOString()} class="text-sm text-nowrap">
              {formatDistanceToNowStrict(new Date(post.date), { addSuffix: true, locale: koLocale })}
            </time>
          </div>
          </div>
        </a>
      </li>
    ))}
  </ul>
</section>
